/* css de base para el diseño adaptativo*/
body{
    background: rgb(251,63,63);
    background: -moz-linear-gradient(90deg, rgba(251,63,63,1) 12%, rgba(70,252,244,0) 48%);
    background: -webkit-linear-gradient(90deg, rgba(251,63,63,1) 12%, rgba(70,252,244,0) 48%);
    background: linear-gradient(90deg, rgba(251,63,63,1) 12%, rgba(70,252,244,0) 48%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fb3f3f",endColorstr="#46fcf4",GradientType=1);
}



header{
    margin: 0;
    padding: 0;
}
h1{
    margin: 2em;
    text-align: center;

}
.container{
    margin: 2em;
    padding: 2em;
    text-align: center;
    display: flex;
    position: relative;
}
.hijo {
  width: 50px;
  height: 50px;
  background-color: red;
  /* centrar vertical y horizontalmente */
  position: absolute;
  top: 50%;
  left: 25%

}